* {
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: white;
  margin: auto;
}

.container {
  width: fit-content;
  text-align: center;
  margin: auto;
}

.header {
  display: flex;
  background-color: #011827;
  min-height: 144px;
}

.header__logo {
  width: 128px;
  height: 82px;
  margin-top: 26px;
  margin-left: 27px;
}

.header__title {
  width: 78px;
  height: 84px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 25px;
  margin-left: 13px;
}

.topnav {
  display: none;
}

.images img {
  max-width: 100%;
}

.buttons {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons .buttons--On-site-challenges {
  width: 308px;
  height: 66px;
  background-color: #8acfe5;
  color: #011827;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  margin-top: 40px;
  line-height: 28.13px;
}

.buttons .buttons--Online-challenges {
  width: 142px;
  height: 20px;
  background-color: white;
  font-weight: bold;
  border: none;
  font-size: 16px;
  line-height: 18.75px;
  margin-top: 20px;
  color: #36769d;
  text-decoration: underline;
}

.buttons2 {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons2 .buttons--On-site-challenges {
  width: 308px;
  height: 66px;
  background-color: #8acfe5;
  color: #011827;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  margin-top: 40px;
  line-height: 28.13px;
}

.buttons2 .buttons--Online-challenges {
  width: 142px;
  height: 20px;
  background-color: white;
  font-weight: bold;
  border: none;
  font-size: 16px;
  line-height: 18.75px;
  margin-top: 20px;
  color: #36769d;
  text-decoration: underline;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.review-content {
  display: flex;
  align-items: flex-start;
}

.review-image {
  width: 73.34px;
  height: 72px;
  margin-right: 20px;
}

.review-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.reviews_visitortext {
  width: 343.26px;
  margin: 0;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 28.13px;
}

.reviews_visitorsign {
  font-size: 18px;
}

.challenges .challenges--Title {
  font-weight: 400;
  font-size: 32px;
  line-height: 37.5px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenges_title {
  font-weight: 400;
  font-size: 28px;
  line-height: 32.81px;
  margin-top: 12px;
  margin-bottom: 0;
}

.challenges-content {
  display: flex;
  overflow-x: auto;
  max-width: 400px;
  min-height: 446px;
  padding: 10px 5px 10px 5px;
}

.challenges .challenges--challenge1,
.challenges .challenges--challenge2,
.challenges .challenges--challenge3 {
  width: 363px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 2px #b6bdb5;
  margin-right: 20px;
}

.challenges_rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.challenges_rating-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  padding-left: 10px;
}

.challenges-textcontent {
  text-align: left;
  padding-left: 8px;
}

.challenges-stars {
  display: inline-block;
  padding-left: 3px;
}

.challenges-star1,
.challenges-star5 {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
}

.challenges-star1 {
  background-image: url("images/Star 1.png");
}

.challenges-star5 {
  background-image: url("images/Star 5.png");
}

.challenges_text {
  width: 328px;
  height: 80px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  margin-top: 15px;
}

.challenges_button {
  width: 179.28px;
  height: 44px;
  border: none;
  border-radius: 4px;
  background-color: #e3170a;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  margin-left: 150px;
  margin-bottom: 10px;
}

.story {
  display: flex;
  flex-direction: column;
  background-color: #011827;
  height: 500px;
  align-items: center;
  margin-top: 50px;
}

.story .story--Story1 {
  color: white;
  width: 439px;
  height: 234px;
  font-weight: 400;
  font-size: 28px;
  line-height: 32.81px;
  align-items: center;
  margin-top: 80px;
}

.story_button {
  width: 308px;
  height: 66px;
  border: 2px solid #8acfe5;
  border-radius: 4px;
  background-color: #011827;
  color: #8acfe5;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}

.booking1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 703px;
}

.booking1 img {
  max-width: 480px;
  max-height: 300px;
}

.booking1_title {
  width: 440px;
  height: 106px;
  font-weight: 700;
  font-size: 32px;
  line-height: 37.5px;
  text-align: left;
  margin-bottom: 0;
}

.booking1_text {
  width: 440px;
  height: 112px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  text-align: left;
  margin: 0;
}

.booking1_button {
  width: 308px;
  height: 66px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #e3170a;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  margin-right: 130px;
  margin-top: 25px;
}

.booking2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 762px;
}

.booking2 img {
  max-width: 480px;
  max-height: 300px;
}

.booking2_title {
  width: 440px;
  height: 106px;
  font-weight: 700;
  font-size: 32px;
  line-height: 37.5px;
  text-align: left;
  margin-bottom: 0;
}

.booking2_text {
  width: 440px;
  height: 112px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0;
}

.booking2_button {
  width: 308px;
  height: 66px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #e3170a;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  margin-right: 130px;
  margin-top: 25px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #011827;
  height: 566px;
  color: white;
  align-items: center;
}

.footer_story .footer_story--topic {
  width: 242px;
  height: 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 10px;
}

.footer_story .footer_story--text {
  width: 439px;
  height: 83px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  text-align: left;
  margin: 0;
}

.footer_sitemap .footer_sitemap--topic {
  width: 72px;
  height: 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
}

.footer_sitemap .footer_sitemap--links {
  display: flex;
  flex-direction: column;
  width: 439px;
  height: 126px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  text-align: left;
}

.footer_followus .footer_followus--topic {
  width: 102px;
  height: 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
}

.footer_followus .footer_followus--links {
  display: flex;
  flex-direction: column;
  width: 439px;
  height: 119px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  text-align: left;
}

.footer_sitemap.footer_sitemap--links a:nth-child(4) {
  margin-top: 20px;
}

@media screen and (min-width: 900px) {
  .header {
    min-height: 156px;
  }

  .header__title {
    width: 404px;
    height: 47px;
    font-size: 40px;
    line-height: 46.88px;
    margin-top: 60px;
    margin-left: 25px;
  }

  .topnav {
    display: flex;
    flex-direction: row;
    background-color: #011827;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    justify-content: center;
    height: 60px;
  }

  .topnav a {
    margin-right: 114px;
  }

  .topnav a:last-child {
    margin-right: 0;
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -36px;
  }

  .buttons .buttons--Online-challenges {
    width: 308px;
    height: 66px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #e3170a;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    text-decoration: none;
    margin: 0;
    margin-right: 5px;
  }

  .buttons .buttons--On-site-challenges {
    margin: 0;
    margin-left: 5px;
  }

  .buttons2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .buttons2 .buttons--Online-challenges {
    width: 308px;
    height: 66px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #e3170a;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    text-decoration: none;
    margin: 0;
    margin-right: 5px;
  }

  .buttons2 .buttons--On-site-challenges {
    margin: 0;
    margin-left: 5px;
  }
}
